@import "../variables.scss";

.contact {
	padding-top: 9rem;
	padding-bottom: 9rem;
	text-align: center;

    .heading {
        margin-bottom: 3.75rem;

        span {
            color: $secondaryColor;
            text-decoration: underline;
        }
    }
}