$primaryBackground: #fff2dc;
$primaryColor: #272556;
$secondaryColor: #f25c05;
$linkColor: #565578;
$featureBackground: #efebfd;
$featureCardIconDefault: #8763ee;
$featureCardIconFirstType: #defaeb;
$featureIconFirstType: #00d462;
$featureCardIconSecondType: #e2ebfd;
$featureIconSecondType: #1f68f3;
